<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		
		<title>Raspberry Pi Temperature</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="js/jquery-csv.js"></script>
		<script src="js/datavis.js"></script>
		<script src="js/csv2array.js"></script>
	
		<script>var chartData = [];</script>

	</head>

	<body onload="go()">

		<H1>This button will read the templog.csv into an array and print it to the console</H1>
		<p></p>
		<button onclick="readCSV()">Read CSV</button>
		<br/>
		<center>
			<div id="gauge" style="width: 250px; height: 250px"></div>
			<div id="curve_chart" style="width: 1200px; height: 1200px"></div>
		</center>

		

	</body>
</html>
